/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <= 11
*/

/*Fonts*/
/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/ptsans.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ptsans.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/ptsansbold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ptsansbold.woff2') format('woff'); /* Modern Browsers */
  font-display: swap;
}

/*Variables*/

:root {

  --basic-extra-black: #000000;
  --basic-extra-black-alfa: rgba(0, 0, 0, 0.3);
  --basic-hard-black: #231F20;
  --basic-black: #333333;
  --basic-extra-brown: #503E33;
  --basic-hard-brown: #604E43;
  --basic-brown: #766357;
  --basic-extra-blue: #5496BD;
  --basic-hard-blue: #669EC0;
  --basic-blue: #81B3D2;
  --basic-absolute-grey: #6A6A6A;
  --basic-extra-grey: #666666;
  --basic-hard-grey: #BDBBBC;
  --basic-strong-grey: #CACACA;
  --basic-middle-grey:#ABABAB;
  --basic-middle-grey-alfa: rgba(171,171,171,0.3);
  --basic-normal-grey: #EBEBEB;
  --basic-grey: #EEEEEE;
  --basic-soft-grey:  #E5E5E5;
  --basic-lite-grey: #F2F2F2;
  --basic-white-alfa: rgba(255, 255, 255, 0.9);
  --basic-white-soft-alfa: rgba(255, 255, 255, 0.3);
  --basic-white: #FFFFFF;
  --basic-wrapper-shadow: rgba(0, 1, 1, 0.2);
  --basic-modal-shadow: rgba(0, 1, 1, 0.15);
}

/*Global*/

body {
  position: relative;
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-lite-grey);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.width-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0px 5px 15px var(--basic-wrapper-shadow);
}

/*----------Header-----------*/

.main-navigation {
  background-color: var(--basic-white);
  position: relative;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  margin-left: -69px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
  color: var(--basic-extra-black);
  line-height: 26px;
}

.site-navigation li {
  padding-top: 14px;
  margin-bottom: 16px;
  width: 227px;
}

.site-navigation li:nth-child(odd) {
  margin-left: 73px;
}
.site-navigation li:nth-child(even) {
  margin-right: 73px;
}
.site-navigation li:nth-child(4n),
.site-navigation li:nth-child(4n-1) {
  text-align: right;
}

.site-navigation a {
  color: var(--basic-extra-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-extra-black-alfa);
}

.active-page a {
  color: var(--basic-brown);
}

/*----------Main----------*/

/*---Index-page-main---*/

.main-container {
  background-color: var(--basic-white);
}

/*Banner*/

.main-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 1200px;
  height: 509px;
  background-color: var(--basic-extra-blue);
  background-image: url("../img/main-page-banner.jpg");
}

.main-banner::before {
  content: "";
  width: 457px;
  height: 351px;
  margin-bottom: 25px;
  background-image: url("../img/welcome-slogan.svg");
}

.main-banner::after {
  content: "";
  width: 1200px;
  height: 57px;
  background-image: url("../img/white-shape.svg");
}

/*Features*/

.features {
  text-align: center;
}

.features-title {
  box-sizing: border-box;
  min-height: 215px;
  padding: 42px 340px 51px 340px;
}

.features-title p {
  margin: 0;
  margin-bottom: 43px;
}

.features-title p:first-of-type {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-extra-black);
}

.features-title p:last-child {
  margin-bottom: 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 21px;
}

.feature-item {
  box-sizing: border-box;
  min-height: 256px;
  width: 400px;
  padding: 47px 48px 25px 48px;
}

.feature-item p {
  margin: 0;
  margin-bottom: 25px;
}

.feature-item p:last-child {
  margin-bottom: 0;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 25px;
}

.feature-item-1 {
  display: flex;
  flex-wrap: wrap;
}
.feature-item-2 {
  display: flex;
  flex-wrap: wrap;
}

.feature-main-city {
  order: 1;
}

.feature-main-city,
.feature-main-bridge {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.feature-item-1::after {
  content: "";
  width: 800px;
  height: 256px;
  background-color: var(--basic-brown);
  background-image: url("../img/feature-city.jpg");
  background-repeat: no-repeat;
  background-position: center;
  order: 2;
}

.feature-item-2::before {
  content: "";
  width: 800px;
  height: 256px;
  background-color: var(--basic-brown);
  background-image: url("../img/feature-bridge.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.feature-standart {
  color: var(--basic-black);
  background-color: var(--basic-grey);
}

.feature-standart h3 {
  color: var(--basic-extra-black);
}

/*Recommendations*/

.recommendations-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  order: 3;
}

.recommendation-item {
  box-sizing: border-box;
  min-height: 330px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  padding: 160px 50px 25px 50px;
  width: 400px;
}

.recommendation-item h4 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-extra-black);
  margin: 0;
  margin-bottom: 25px;
}

.recommendation-item p {
 margin: 0;
 margin-bottom: auto;
}

.recommendation-item:nth-child(1) {
  background-image: url("../img/icon-housing.svg");
  background-position: center 60px;
  background-repeat: no-repeat;
}

.recommendation-item:nth-child(2) {
  background-image: url("../img/icon-food.svg");
  background-position: center 61px;
  background-repeat: no-repeat;
}

.recommendation-item:nth-child(3) {
  background-image: url("../img/icon-souvenirs.svg");
  background-position: center 55px;
  background-repeat: no-repeat;
}

/*Search*/

.search {
  box-sizing: border-box;
  min-height: 291px;
  position: relative;
  text-align: center;
  background-color: var(--basic-white);
  margin: 0;
  padding: 57px 380px 0px 380px;
}

.search > p {
  margin: 0;
  margin-bottom: 30px;
}

.search > p:first-of-type {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  color: var(--basic-extra-black);
}

.search > p:last-of-type {
  margin-bottom: 42px;
}

/*Buttons*/

.button {
  display: inline-block;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button-form-show {
  position: relative;
  padding: 30px 125px;
  width: 568px;
  left: -64px;
}

.button-form-search {
  width: 458px;
  padding: 16px 182px;
}

.button-form-show,
.button-form-search {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.button-info {
  width: 110px;
  margin-right: 6px;
  padding: 3px 16px 3px 17px;
}

.button-reserv  {
  width: 142px;
  padding: 3px 17px 3px 16px;
}

.button-info,
.button-reserv {
  box-sizing: border-box;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.button-form-show,
.button-reserv {
  background-color: var(--basic-brown);
}

.button-form-show:hover,
.button-reserv:hover,
.button-form-show:focus,
.button-reserv:focus {
  background-color: var(--basic-hard-brown);
}

.button-form-show:active,
.button-reserv:active {
  background-color: var(--basic-extra-brown);
  color: var(--basic-white-soft-alfa);
}

.button-info,
.button-form-search {
  background-color: var(--basic-blue);
}

.button-info:hover,
.button-form-search:hover,
.button-info:focus,
.button-form-search:focus {
  background-color: var(--basic-hard-blue);
}

.button-info:active,
.button-form-search:active {
  background-color: var(--basic-extra-blue);
  color: var(--basic-white-soft-alfa);
}

/*Modal*/

.modal {
  position: absolute;
  bottom: auto;
  left: 316px;
  padding: 55px 55px;
  box-sizing: border-box;
  width: 568px;
  font-weight: 700;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px var(--basic-modal-shadow);
}

.modal-close {
  -webkit-animation:  close 1s;
          animation:  close 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.modal-open {
  -webkit-animation:  open 1s;
          animation:  open 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

/*Modal-animation*/

@-webkit-keyframes close {
  0% {
    height: 395px;
    overflow: hidden;
  }

  100% {
    height: 0px;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@keyframes close {
  0% {
    height: 395px;
    overflow: hidden;
  }

  100% {
    height: 0px;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@-webkit-keyframes open {
  0% {
    height: 0px;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  100% {
    height: 395px;
    overflow: hidden;
  }
}

@keyframes open {
  0% {
    height: 0px;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  100% {
    height: 395px;
    overflow: hidden;
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

/*Modal_search-form*/

.search-form p {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 29px;
  color: var(--basic-extra-black);
}

.search-form p:last-of-type {
  margin-bottom: 55px;
}

.search-form input {
  box-sizing: border-box;
  font: inherit;
  color: var(--basic-extra-black);
  text-transform: uppercase;
  background-color: var(--basic-lite-grey);
  border: none;
  height: 38px;
  padding: 6px 13px;
}

.search-form input:hover {
  background-color: var(--basic-normal-grey);
}

.search-form input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-soft-grey);
}

.search-form .date-input {
  width: 346px;
  padding-right: 45px;
}
.search-form .number-input {
  width: 114px;
  padding-left: 38px;
  padding-right: 38px;
  text-align: center;
}

.search-form .number-input:first-of-type {
  margin-left: -15px;
}

.search-form  label[for="kids"] {
  margin-right: -28px;
}

.button-date-input {
  position: absolute;
  right: 0;
  width: 38px;
  height: 38px;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.button-date-input svg {
  display: block;
}

.button-date-input:hover path,
.button-date-input:focus path {
  fill: var(--basic-extra-black);
}

.button-date-input:active path {
  fill: var(--basic-blue);
}

.button-number-minus {
  position: absolute;
  width: 38px;
  height: 38px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center 19px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='3' viewBox='0 0 12 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='3' fill='%23A9A9A9'/%3E%3C/svg%3E ");
}

.button-number-minus:hover,
.button-number-minus:focus {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='3' viewBox='0 0 12 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='3' fill='black'/%3E%3C/svg%3E ");
}

.button-number-minus:active {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='3' viewBox='0 0 12 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='3' fill='%2381B3D2'/%3E%3C/svg%3E%0A");
}

.button-number-plus {
  position: absolute;
  width: 38px;
  height: 38px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.23086 6.76932V11H6.76932V6.76932H11V4.23086H6.76932V0H4.23085V4.23086H0V6.76932H4.23086Z' fill='%23A9A9A9'/%3E%3C/svg%3E ");
}

.button-number-plus:hover,
.button-number-plus:focus {
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.23086 6.76932V11H6.76932V6.76932H11V4.23086H6.76932V0H4.23085V4.23086H0V6.76932H4.23086Z' fill='black'/%3E%3C/svg%3E ");
}

.button-number-plus:active {
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.23086 6.76932V11H6.76932V6.76932H11V4.23086H6.76932V0H4.23085V4.23086H0V6.76932H4.23086Z' fill='%2381B3D2'/%3E%3C/svg%3E ");
}

.button-adults-minus {
  left: 112px;
}

.button-adults-plus {
  left: 188px;
}

.button-kids-minus {
  right: 75px;
}

.button-kids-plus {
  right: 0;
}

/*Map*/

.map {
width: 1200px;
height: 594px;
background-color: var(--basic-hard-grey);
background-image: url(../img/map.jpg);
}

.map iframe {
  border: none;
}

/*---Hotels-page-main---*/

.hotels-main {
  line-height: 21px;
  text-align: left;
  background-color: var(--basic-white);
}

/*Parameters-form*/

.parameters-form {
  box-sizing: border-box;
  padding: 25px 73px 25px 72px;
  background-color: var(--basic-brown);
  background-image: url(../img/parameters-form-background.jpg);
  background-repeat:  no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
  min-height: 217px;
}

.filter {
  display: flex;
}

.filter-item {
  max-width: 150px;
  margin: 0;
  padding: 0;
  color: var(--basic-white);
  border: none;
}

.filter-item:first-child {
  margin-right: 118px;
}

.filter-item:last-child {
  max-width: 317px;
  margin-left: auto;
}

.filter-item legend{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 25px;
}

.filter-item:last-child legend{
  margin-bottom: 12px;
}

.filter-item ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-checkbox {
  min-height: 23px;
  margin-bottom: 23px;
  padding-left: 41px;
}

.filter-checkbox:last-child {
  margin-bottom: 0px;
}

.filter-checkbox label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -41px;
  top: 1px;
  width: 19px;
  height: 19px;
  border: 2px solid var(--basic-white);
  border-radius: 3px;
}

.filter-input-checkbox:disabled + label::before {
  border-color: var(--basic-absolute-grey);
  cursor: auto;
}

.filter-input-checkbox:checked + label::before {
  display: none;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -41px;
  width: 26px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='23' viewBox='0 0 27 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.285 7.48601L4.456 10.315L12.239 18.098L26.171 4.16601L23.343 1.33701L12.239 12.439L7.285 7.48601Z' fill='white'/%3E%3Cpath d='M21 20C21 20.542 20.542 21 20 21H3C2.458 21 2 20.542 2 20V3C2 2.458 2.458 2 3 2H19.908L21.493 0.415C21.041 0.146542 20.5257 0.00329969 20 0H3C1.35 0 0 1.35 0 3V20C0 21.65 1.35 23 3 23H20C21.65 23 23 21.65 23 20V10.171L21 12.171V20Z' fill='white'/%3E%3C/svg%3E");
}

.filter-input-checkbox:checked:disabled + label::after {
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='23' viewBox='0 0 27 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.28499 7.48601L4.45599 10.315L12.239 18.098L26.171 4.16601L23.343 1.33701L12.239 12.439L7.28499 7.48601Z' fill='%236A6A6A'/%3E%3Cpath d='M21 20C21 20.542 20.542 21 20 21H3C2.458 21 2 20.542 2 20V3C2 2.458 2.458 2 3 2H19.908L21.493 0.415C21.041 0.146542 20.5257 0.00329969 20 0H3C1.35 0 0 1.35 0 3V20C0 21.65 1.35 23 3 23H20C21.65 23 23 21.65 23 20V10.171L21 12.171V20Z' fill='%236A6A6A'/%3E%3C/svg%3E%0A");
  cursor: auto;
}

.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:focus + label::after {
  outline: 3px solid var(--basic-extra-black);
}

.price-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
  width: 317px;
  padding: 5px 0px;
}

.min-price {
  border-right: 2px solid var(--basic-white);
}

.price-controls input {
  width: 150px;
  font-family: inherit;
  font-size: inherit;
  text-transform: inherit;
  text-align: center;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
}

.price-controls label {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 157px;
  height: 22px;
}

.range-scale {
  position: relative;
  margin-bottom: 33px;
  cursor: pointer;
  width: 317px;
  height: 2px;
  background: var(--basic-white-soft-alfa);
}

.range-scale .bar {
  width: 78%;
  height: 2px;
  background: var(--basic-white);
}

.range-scale .toggle {
  position: absolute;
  top: -10px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-middle-grey);
  border-radius: 50%;
  box-shadow: 0 2px 0 0 var(--basic-middle-grey-alfa);
}

.range-scale .toggle:hover,
.range-scale .toggle:focus {
  transform: scale(1.2);
  outline: none;
}

.range-scale .toggle:focus {
  box-shadow: 0 0 0 2px var(--basic-extra-black);
}

.range-scale .toggle-min {
  left: 0px;
}

.range-scale .toggle-max {
  left: 248px;
}

.filter-button {
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  width: 137px;
  padding: 5px 33px 6px 34px;
  margin-left: 85px;
  box-sizing: border-box;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--basic-white);
  color: var(--basic-extra-black);
}

/*Search-results*/

.results-sort {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0;
  border-bottom: 1px solid var(--basic-soft-grey);
  padding: 31px 73px 29px 73px;
  box-sizing: border-box;
  min-height: 86px;
}

.results-sum {
  display: flex;
  flex-wrap: wrap;
  width: 135px;
  margin-right: 28px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.results-sum p {
  margin: 0;
  padding: 0;
  margin-right: 5px;
}

.sort-controls {
  display: flex;
  width: 891px;
  font-size: 12px;
  line-height: 18px;
}

.sort-controls h3{
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
  margin-right: 40px;
  padding: 0;
}

.sort-parameters {
  display: flex;
  flex-wrap: wrap;
}

.sort-parameters-button {
  background-color: transparent;
  color: var(--basic-extra-black-alfa);
  border-bottom: 1px dashed var(--basic-blue);
  margin: 0;
  padding: 0;
  cursor: pointer;
  margin-right: 33px;
}

.sort-parameters-button:hover,
.sort-parameters-button:focus {
  color: var(--basic-blue);
}

.sort-parameters-button:active {
  color: var(--basic-extra-black);
  border-bottom: none;
  padding-bottom: 1px;
}

.sort-parameters .current {
  color: var(--basic-blue);
  border-bottom: none;
  padding-bottom: 1px;
}

.sort-direction {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 34px;
  margin-left: auto;
}

.sort-direction-button {
  border: 6px solid var(--basic-white);
  border-top-width: 0px;
  border-bottom-color: var(--basic-strong-grey);
  border-bottom-width: 10px;
  padding: 0;
  cursor: pointer;
}

.sort-direction-button:last-child {
  transform: rotate(180deg);
}

.sort-direction-button:hover,
.sort-direction-button:focus {
  border-bottom-color: var(--basic-extra-black);
}

.sort-direction-button:active {
  border-bottom-color: var(--basic-blue);
}

.sort-direction .current {
  border-bottom-color: var(--basic-blue);
}

/*Results-list*/

.results-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.results-item {
  box-sizing: border-box;
  min-height: 151px;
  display: flex;
  border-bottom: 1px solid var(--basic-soft-grey);
  padding: 30px 73px;
}

.hotel-photo {
  width: 135px;
  height: 90px;
  margin-right: 29px;
}

.hotel-photo img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

.results-description {
  display: flex;
  flex-direction: column;
  max-width: 730px;
}

.results-description h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-top: -6px;
  margin-bottom: 7px;
  padding: 0;
}

.results-description p {
  display: flex;
  flex-wrap: wrap;
  width: 110px;
  margin: 0;
  margin-right: 6px;
}

.results-description p:last-child {
  margin-right: 0;
}

.hotel-name {
  color: var(--basic-extra-black);
}

.hotel-name:hover,
.hotel-name:focus {
  color: var(--basic-blue);
}

.hotel-name:active {
  color: var(--basic-extra-black-alfa);
}

.hotel-characteristics {
  display: flex;
  margin-bottom: 15px;
}

.results-buttons {
  display: flex;
}

.results-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: auto;
}

.rating-list {
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
  margin: 0;
  padding: 0;
}

.rating-list li {
  position: relative;
  margin-left: 23px;
}

.rating-list li::before {
  content: "";
  width: 19px;
  height: 17px;
  right:-1px;
  top: -1px;
  position: absolute;
  background-image: url(../img/star.svg);
}

.rating-value {
  margin: 0;
  padding: 3px 12px 3px 15px;
  color: var(--basic-extra-grey);
  background-color: var(--basic-lite-grey);
}

/*--------Footer-------*/

.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--basic-extra-black);
  background-color: var(--basic-white-alfa);
  padding-left: 73px;
  padding-right: 73px;
  box-sizing: border-box;
  min-height: 120px;
}

.main-footer {
  position: absolute;
  left: 50%;
  margin-left: -600px;
  margin-bottom: 1px;
  bottom: 0;
}

/*Contacts*/

.footer-contacts {
  box-sizing: border-box;
  padding: 23px 38px 36px 38px;
  text-align: center;
  font-weight: bold;
  font-size  : 21px;
  width: 327px;
}

.footer-contacts p {
  margin: 0;
  margin-bottom: 9px;
}

.footer-contacts p:last-child {
  margin-bottom: 0;
}

.footer-contacts a {
  color: var(--basic-extra-black);
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

/*Social*/

.footer-social {
  display: flex;
  align-items: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-hard-blue);
}

.social-button:active {
  background-color: var(--basic-extra-blue);
}

.social-button:active path{
  opacity: 30%;
}

/*Footer-copyright*/

.footer-copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 327px;
  margin: 0;
}

.footer-copyright svg {
  flex-shrink: 0;
}

.copyright-link {
  width: 197px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--basic-extra-black);
}

.copyright-link:hover path,
.copyright-link:focus path {
  fill: var(--basic-blue);
}

.copyright-link:active path{
  fill: var(--basic-hard-grey);
}
